$breakpoint-sm: 400px;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.mainnav{

    display: flex;
    padding: 10px;
    background-color: lightblue;

    &--mobile{
        display: flex !important;
        flex-direction: column;
    }

    &__link{
        background-color: lightgray;
        padding: 5px 7px;
    }

    &__search{
        margin-left: auto;
        min-width: 0;
    }

    @media (max-width: $breakpoint-sm){
        display: none;
    }
}

.hamburguerbtn{
    background-color: grey;
    width: 40px;
    height: 40px;
    display: none;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    border: none;
    align-items: stretch;
    span{
        height: 3px;
        width: 100%;
        background-color: white
    }
    @media (max-width: $breakpoint-sm){
        display: flex;
    }
}

$w: 500px;
$h: 300px;
.slider{
    width: $w;
    height: $h;
    overflow: hidden;
    position: relative;
}
.slider__strip{
    display: flex;
    transition: transform .5s ease-in-out;
}
.slider__img{
    width: $w;
    height: $h;
    object-fit: cover;
    flex-shrink: 0;
    // background-size: cover;
    // background-color: red;
    // background-image: url(/images/perro-beso-1024x576.webp);
}
.slider__btn{
    position: absolute;
    bottom: 0px;
}
.slider__btn--left{
    left: 0px;
}
.slider__btn--right{
    right: 0px;
}


.galery{
    &__main{
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__thumbs{
        display: flex;
        justify-content: space-between;
    }
    &__thumb{
        width: 24%;
        height: 100px;
        object-fit: cover;
        object-position: center;

        &--active{
            border: 2px solid lightcoral;
            padding: 10px;
        }
    }
}


// Modal
.modal{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);

    &__panel{
        width: 400px;
        background-color: white;
        margin: 50px auto;
        padding: 10px;

        h2{
            margin-top: 0px;
        }
    }

    &--visible{
        display: block;
    }
}